*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: #F4F1DE;
  color: #3D405B;
  font-size: 20px;
  height: 1200px;
}

.main {
  width: 84%;
  margin: 1.5em auto;
  justify-content: space-around;
}

.container{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%
}

.relative{
  padding: 0.5em;
  margin: 50px;
}


h1, h2 {
  color: #E07A5F;
  font-style: italic;
  display: inline-flex;
}

.story{
  padding-bottom: 10px;
}

.navBar ul{
  list-style-type: none;
  margin: none;
  padding: 0;
  width: 100%;
  display: inline;
}

.navBar li {
  display: inline;
  width:100%;
  margin-right: 25px;

}

.navBar li a {
   text-decoration: none;
   padding: 0 1.5em;
   color: #3D405B;

}

header {
  background-color: #81B29A;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.navBar a:hover{
  font-weight: bolder;
}

.navBar{
  margin-top: 15px;
}
